<div class="sidebar">
  <mat-accordion multi="multi">
    <mat-expansion-panel expanded #passengerPanel>
      <mat-expansion-panel-header>
        @if(passengerPanel.expanded){
          <mat-panel-title i18n>Passengers</mat-panel-title>
        }@else{
          <mat-panel-title i18n>{passengers.length, plural, =1 {1 passenger} other {{{passengers.length}} passengers}} </mat-panel-title>
        }
        <mat-panel-description>
          @if(passengers.length == 0){
            <mat-icon class="warn">warning</mat-icon>
          }
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-passenger-control [myPassengers]="myPassengers" [(passengers)]="passengers"/>
    </mat-expansion-panel>
    <mat-expansion-panel expanded #timePanel>
      <mat-expansion-panel-header>
        @if(timePanel.expanded){
          <mat-panel-title i18n>Time</mat-panel-title>
        }@else {
          @if(tripDateTimeType == 'arrival'){
            <div>
              <span i18n>Arrival at</span>
              <br>
              <span>{{tripDateTime | date: 'fullDate'}} {{tripDateTime | date: 'shortTime'}}</span>
            </div>
          }@else{
            <mat-panel-title>
              <div>
                <span i18n>Departure at</span>
                <br>
                <span>{{tripDateTime | date: 'fullDate'}} {{tripDateTime | date: 'shortTime'}}</span>
              </div>
            </mat-panel-title>
          }
        }
      </mat-expansion-panel-header>
      <app-time-control [(dateTime)]="tripDateTime" [(type)]="tripDateTimeType"/>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Where</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
