<div class="sidebar">
  <mat-accordion multi="multi">
    <mat-expansion-panel expanded #passengerPanel>
      <mat-expansion-panel-header>
        @if(passengerPanel.expanded){
          <mat-panel-title i18n>Passengers</mat-panel-title>
        }@else{
          <mat-panel-title i18n>{passengers().length, plural, =1 {1 passenger} other {{{passengers().length}} passengers}} </mat-panel-title>
        }
        <mat-panel-description>
          @if(passengers().length == 0){
            <mat-icon class="warn">warning</mat-icon>
          }
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="passengers-container">
        @for(passenger of passengers(); track passenger.frontendId){
          <app-passenger-card [passenger]="passenger" (click)="editPassenger(passenger.frontendId)"/>
        }
        <button mat-button (click)="addPassenger()">
          <span i18n>Add passenger</span>
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Time</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Where</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
