.sidebar {
  height: 100vh;
  width: 25rem;
  background: var(--mat-sys-surface-container-high);
}

.mat-expansion-panel {
  background: transparent;
  box-shadow: none !important;
  border-radius: 0;
}

.mat-expansion-panel-header {
  font-size: var(--mat-sys-title-medium-size);
  font-weight: var(--mat-sys-title-medium-weight);
  line-height: var(--mat-sys-title-medium-line-height);
  letter-spacing: var(--mat-sys-title-medium-tracking);
}

.mat-expansion-panel-header.mat-expanded {
  height: var(--mat-expansion-header-collapsed-state-height, 48px);
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-accordion .mat-expansion-panel {
  border-radius: 0;
}

.passengers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.warn {
  color: var(--mat-sys-error);
}
