.connection-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-medium);
  border: 1px solid var(--outline-variant);
  background-color: var(--surface-container);
  width: 100%;

  .overview {
    display: flex;

    .connection {
      padding: 8px;
      flex: 1;

      .header {
        display: flex;
        justify-content: space-between;
        .time {
          display: flex;
          flex-direction: column;

          div {
            display: flex;
            gap: var(--text-gap);

            &.planned {
              font: var(--title-large);
            }

            &.real {
              font: var(--title-medium);
            }

            .on-time {
              color: green;
            }

            .delayed {
              color: red;
            }
          }
        }

        .duration {
          display: flex;
          font: var(--title-small);
          gap: var(--text-gap);
        }

        .transfers {
          font: var(--title-small);
        }
      }

      .time-graph {

        div {
          display: flex;
          div {
            background-color: green;
            height: 1rem;

            &.transfer {
              background: transparent;
            }

            &.Unknown {
              background: var(--on-surface);
            }

            &.Low {
              background: green;
            }

            &.Medium {
              background: yellow;
            }

            &.High {
              background: red;
            }

            &.Extreme {
              background: var(--error);
            }

            &.Overbooked {
              background: black;
            }
          }
        }
      }

      .segments {
        display: flex;
        flex-wrap: wrap;
        gap: var(--text-gap);

        .segment {
          padding: 4px 8px;
          border-radius: var(--radius-small);
          border: 1px solid var(--outline-variant);
          background-color: var(--surface-container-high);
          font: var(--label-large);
        }
      }
    }

    .actions {
      width: 10rem;
      border-left: 1px solid var(--outline-variant);
    }
  }

  .details {
    border-top: 1px solid var(--outline-variant);
  }
}
