.connection-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-medium);
  border: 1px solid var(--outline-variant);
  background-color: var(--surface-container);
  width: 100%;

  .overview {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;

    .header {
      display: flex;
      justify-content: space-between;
      .time {
        display: flex;
        flex-direction: column;

        div {
          display: flex;
          gap: var(--text-gap);

          &.planned {
            font: var(--title-large);
          }

          &.real {
            font: var(--title-medium);
          }

          .on-time {
            color: green;
          }

          .delayed {
            color: red;
          }
        }
      }

      .duration {
        display: flex;
        font: var(--title-small);
        gap: var(--text-gap);
      }

      .transfers {
        font: var(--title-small);
      }
    }

    .segments {
      display: flex;
      overflow-x: auto;
      gap: var(--text-gap);

      .segment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4px 8px;
        border-radius: var(--radius-small);
        border: 1px solid var(--outline-variant);
        color: var(--on-surface-variant);
        background-color: var(--surface-variant);
        font: var(--label-large);

        .test {
          display: flex;
          justify-content: center;
        }

        icon {
          color: var(--on-surface-variant);

          &.Low {
            color: var(--primary);
          }

          &.Medium {
            color: yellow;
          }

          &.High {
            color: orange;
          }

          &.Extreme {
            color: red;
          }

          &.Overbooked {
            color: black;
          }
        }

        span {
          text-wrap: nowrap;
          text-align: center;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;

      .price {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: var(--text-gap);
        font: var(--body-large);

        .price-text {
          font: var(--title-large);
        }
      }
    }
  }

  .details {
    border-top: 1px solid var(--outline-variant);
  }
}
