<div #overlay class="overlay" (click)="overlayClick($event)">
  <div #dialog [style.left]="position.x + 'px'" [style.top]="position.y + 'px'" class="datepicker-dialog">
    <div class="header">
      <icon-button-mini icon="chevron_left" (buttonClick)="previousMonth()" highlight/>
      <span class="title">
      {{activeMonth | date:"MMMM yyyy"}}
      </span>
      <icon-button-mini icon="chevron_right" (buttonClick)="nextMonth()" highlight/>
    </div>

    <div class="weekdays">
      <span i18n="@@monday_short">Mon</span>
      <span i18n="@@tuesday_short">Tue</span>
      <span i18n="@@wednesday_short">Wed</span>
      <span i18n="@@thursday_short">Thu</span>
      <span i18n="@@friday_short">Fri</span>
      <span i18n="@@saturday_short">Sat</span>
      <span i18n="@@sunday_short">Sun</span>
    </div>

    <div class="days">
      @for(day of days; track day){
        <button
          (click)="selectDate(day)"
          class="day"
          [class.invisible]="day === 0"
          [class.selected]="isSelected(day)"
          [class.today]="isToday(day)">
          <span></span>
          {{ day }}
        </button>
      }
    </div>
  </div>
</div>
