.length-of-stay {
  display: flex;
  height: var(--input-height);
  border-bottom: 1px solid var(--on-surface-variant);
  background-color: var(--surface-variant);
  box-sizing: border-box;

  .prefix {
    margin: 16px;
    color: var(--on-surface-variant);
  }

  .inputs {
    display: flex;
    align-items: center;

    .title {
      font: var(--body-large);
    }

    input {
      font: var(--body-large);
      text-align: end;
      width: 2.5ch;
      border: none;
      outline: none;
      background-color: var(--surface-variant);
    }

    .unit {
      font: var(--body-large);
    }
  }
}
