<app-expansion-panel #passengerPanel [(expanded)]="expanded" (expandedChange)="persistUIState()" [warn]="passengers.length == 0">
  <div title>
    @if(passengerPanel.expanded){
      <mat-panel-title i18n>Passengers</mat-panel-title>
    }@else{
      <mat-panel-title i18n>{passengers.length, plural, =1 {1 passenger} other {{{passengers.length}} passengers}} </mat-panel-title>
    }
  </div>
  <div content class="passengers">
    <div class="passengers-container">
      @for(passenger of passengers; track passenger.id){
        <app-passenger-card [passenger]="passenger" (click)="editPassenger(passenger.id)" (delete)="removePassenger(passenger.id)"/>
      }
    </div>
    <button mat-fab extended (click)="addPassenger()">
      <mat-icon>person_add</mat-icon>
      <span i18n>Add passenger</span>
    </button>
  </div>
</app-expansion-panel>
