<div class="input">
  <div class="input-text" [class.icon]="icon()" [class.button]="buttonIcon()">
    <icon *ngIf="icon()" [name]="icon()!" class="prefix"/>
    <input type="text"
           #input
           [ngModel]="_value"
           (ngModelChange)="currentValueChange($event)"
           [placeholder]="hint()"
           [class.hint]="hint()"
           (focus)="scrollIntoView(input)"
           [class.invalid]="!isValid"
           (blur)="validate()"/>
    <label [class.required]="required()">{{ label() }}</label>
    <icon-button-mini *ngIf="buttonIcon()" class="suffix" [icon]="buttonIcon()!" (buttonClick)="buttonClick.emit()"/>
  </div>
  <div *ngIf="!hideErrors()" class="input-errors">
    @for(error of errors; track error.code){
      <span>{{error.message}}</span>
    }
  </div>
</div>
