<div class="input">
  <div class="input-text" [class.icon]="icon()">
    <icon *ngIf="icon()" [name]="icon()!"/>
    <input type="text"
           [ngModel]="value()"
           (ngModelChange)="currentValueChange($event)"
           [placeholder]="hint()"
           [class.hint]="hint()"
           [class.invalid]="!isValid"
           (blur)="validate()"/>
    <label [class.required]="isRequired">{{ label() }}</label>
  </div>
  <div class="input-errors">
    @for(error of errors; track error.code){
      <span>{{error.message}}</span>
    }
  </div>
</div>
