<div class="find-connections">
  <div class="options" [class.hidden]="!editMode">
    <div class="header">
      <icon name="tune"/>
      <span i18n="@@connection-options-title">Connection options</span>
      <floating-button icon="close" small secondary (click)="close()"/>
    </div>
    <div class="panels">
      <expansion-panel i18n-text="@@route" text="Route" [expanded]="true"  [invalid]="false">
        <route-options [routeOptions]="connectionOptions.route" (routeOptionsChange)="routeChanged($event)"/>
      </expansion-panel>
      <expansion-panel i18n-text="@@time" text="Time" [expanded]="true"  [invalid]="false">
        <time-options [timeOptions]="connectionOptions.time" (timeOptionsChange)="timeChanged($event)"/>
      </expansion-panel>
      <expansion-panel i18n-text="@@passengers" text="Passengers" [expanded]="true"  [invalid]="false">
        <passenger-options/>
      </expansion-panel>
    </div>
    <div class="footer">
      <floating-button icon="search" i18n-text="@@button-search" text="Search" (click)="test()"/>
    </div>
  </div>
  <div class="options-opener" (click)="open()" [class.hidden]="editMode">
    <icon class="desktop" name="chevron_right"/>
    <icon class="mobile" name="keyboard_arrow_down"/>
    <icon name="tune"/>
    <icon class="desktop" name="chevron_right"/>
    <icon class="mobile" name="keyboard_arrow_down"/>
  </div>
  <div class="suggestions" [class.expanded]="!editMode">
    <connection-card *ngFor="let connection of connections" [connection]="connection"/>
  </div>
</div>
