.avatar {
  border-radius: 50%;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--mat-sys-title-large-size);
  font-weight: var(--mat-sys-title-large-weight);
  user-select: none;
}
