button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--text-gap);
  flex-direction: row;
  padding: 16px;
  border-radius: var(--radius-round);
  border: none;
  color: var(--on-primary-container);
  background-color: var(--primary-container);
  font: var(--label-large);
  box-shadow: var(--normal-shadow);

  &:hover:not(:disabled) {
    box-shadow: var(--hover-shadow);
  }

  &:disabled {
    cursor: unset;
    color: color-mix(in srgb, var(--on-surface-variant) 38%, transparent);
    background-color: color-mix(in srgb, var(--on-surface-variant) 12%, transparent);
  }

  &.secondary {
    color: var(--on-secondary-container);
    background-color: var(--secondary-container);
  }

  &.small {
    padding: 8px;
  }
}

@media (prefers-color-scheme: light) {
  button:hover:not(:disabled) {
    filter: brightness(0.8);
  }
}

@media(prefers-color-scheme: dark) {
  button:hover:not(:disabled) {
    filter: brightness(1.2);
  }
}
