a {
  display: flex;
  align-items: center;
  gap: var(--text-gap);
  flex-direction: row;
  text-decoration: none;
  padding: 16px;
  border-radius: var(--radius-round);
  color: var(--on-surface);

  &.active {
    box-shadow: var(--normal-shadow);
    background-color: var(--primary-container);
    color: var(--on-primary-container);
  }

  &:hover {
    box-shadow: var(--hover-shadow);
  }

  &:not(.active):hover{
    background-color: var(--primary);
    color: var(--on-primary);
  }

  span {
    display: none;
    font: var(--label-large);
  }
}

@media screen and (width >= 768px) {
  a {
    &:hover {
      span {
        display: unset;
        position: absolute;
        left: calc(100% + 8px);
        background-color: var(--inverse-surface);
        color: var(--inverse-on-surface);
        border-radius: var(--radius-small);
        padding: 2px 6px;
        border: 1px solid var(--surface-variant);
      }
    }
  }
}

@media screen and (width < 768px) {
  a {
    span {
      display: unset;
    }
  }
}

@media (prefers-color-scheme: light) {
  a:hover {
    filter: brightness(0.8);
  }
}

@media(prefers-color-scheme: dark) {
  a:hover {
    filter: brightness(1.2);
  }
}
