.nav-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--mat-sys-surface-container-highest);
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nav-item {
  background-color: transparent;
  box-shadow: none;
}

.nav-item-active {
  color: var(--mat-sys-on-primary);
  background-color: var(--mat-sys-primary);
}

.spacer {
  flex: 1;
}

.content {
  flex-grow: 1;
  background-color: var(--mat-sys-background);
}
