$navigation-size: 80px;

.app {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
}

.navigation {
  background-color: var(--surface-container-highest);
  color: var(--on-surface);
  z-index: 999;

  nav {
    display: flex;
    gap: var(--text-gap);
  }
}

.content {
  flex: 1;
  overflow: hidden;
}

@media screen and (width >= 768px){
  .navigation {
    height: 100%;

    nav {
      width: $navigation-size;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (width < 768px) {
  .app {
    flex-direction: column-reverse;
  }

  .navigation {
    width: 100%;

    img {
      display: none;
    }

    nav {
      height: $navigation-size;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
