.nav-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 0 0 5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--mat-sys-surface-container-highest);
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nav-item {
  background-color: var(--mat-sys-surface-variant);
  color: var(--mat-sys-on-surface-variant);
}

.nav-item-active {
  color: var(--mat-sys-on-secondary-container);
  background-color: var(--mat-sys-secondary-container);
}

.spacer {
  flex: 1;
}

.content {
  flex-grow: 1;
  background-color: var(--mat-sys-background);
}
