<div class="nav-container">
  <div class="sidebar">
    <div>
      <img src="logo-transparent.svg" i18n-alt alt="DBetter logo"/>
    </div>
    <div class="navigation-list">
      <a class="navigation-item"
         routerLink="/home"
         routerLinkActive="selected-navigation-item"
         i18n-matTooltip matTooltip="Home"
         matTooltipPosition="after">
        <mat-icon>
          home
        </mat-icon>
      </a>
    </div>
    <div class="spacer"></div>
    <div class="navigation-list">
      <a class="navigation-item"
         routerLink="/account"
         routerLinkActive="selected-navigation-item"
         i18n-matTooltip matTooltip="Account"
         matTooltipPosition="after">
        <mat-icon>
          person
        </mat-icon>
      </a>
    </div>
  </div>
  <div class="content">
    <router-outlet/>
  </div>
</div>
