<div class="nav-container">
  <div class="sidebar">
    <div>
      <img src="logo-transparent.svg" i18n-alt alt="DBetter logo"/>
    </div>
    <div>
      <a class="navigation-item"
         routerLink="/home"
         routerLinkActive="selected-navigation-item"
         i18n-matTooltip matTooltip="Home"
         matTooltipPosition="after">
        <mat-icon>home</mat-icon>
      </a>
      <a class="navigation-item"
         routerLink="/search"
         routerLinkActive="selected-navigation-item"
         i18n-matTooltip matTooltip="Search"
         matTooltipPosition="after">
        <mat-icon>search</mat-icon>
      </a>
    </div>
    <div class="spacer"></div>
    <div *ngIf="!auth.user()">
      <a class="navigation-item"
         routerLink="login"
         routerLinkActive="selected-navigation-item"
         i18n-matTooltip matTooltip="Login"
         matTooltipPosition="after">
        <mat-icon>account_circle</mat-icon>
      </a>
    </div>
    <div *ngIf="auth.user()">
      <a class="navigation-item"
         [routerLink]="'account/' + auth.user()!.id"
         routerLinkActive="selected-navigation-item"
         i18n-matTooltip matTooltip="My Account"
         matTooltipPosition="after">
        <mat-icon>person</mat-icon>
      </a>
    </div>
  </div>
  <div class="content">
    <router-outlet/>
  </div>
</div>
