<div class="route-options">
  <autocomplete-input-text
    icon="trip_origin"
    i18n-label="@@origin"
    label="Origin"
    [autocompleteFunction]="searchStation"
    [debounceTimeMs]="debounceTime"
    (valueChange)="originStationSelected($event)"
    hideErrors
    required
    mustUseSuggestion
    selectAllOnFocus/>
  <segment-options
    (addClick)="addFirstStopover()"
    [withButton]="!showFirstStopoverInput || !showSecondStopoverInput"
    [(allowedMeansOfTransport)]="firstSectionAllowedMeansOfTransport"/>
  <autocomplete-input-text
    *ngIf="showFirstStopoverInput"
    icon="filled_location_on"
    buttonIcon="filled_cancel"
    (buttonClick)="removeFirstStopover()"
    i18n-label="@@stopover"
    label="Stopover"
    [autocompleteFunction]="searchStation"
    [debounceTimeMs]="debounceTime"
    [default]="stopoverAsResult(firstStopover)"
    (valueChange)="firstStopoverStationSelected($event)"
    hideErrors
    required
    mustUseSuggestion
    selectAllOnFocus/>
  <stopover-length-of-stay [(totalMinutes)]="firstStopover.stayTotalMinutes" *ngIf="showFirstStopoverInput"/>
  <segment-options
    *ngIf="showFirstStopoverInput"
    (addClick)="addSecondStopover()"
    [withButton]="!showFirstStopoverInput || !showSecondStopoverInput"
    [(allowedMeansOfTransport)]="secondSectionAllowedMeansOfTransport"/>
  <autocomplete-input-text
    *ngIf="showSecondStopoverInput"
    icon="filled_location_on"
    buttonIcon="filled_cancel"
    (buttonClick)="removeSecondStopover()"
    i18n-label="@@stopover"
    label="Stopover"
    [autocompleteFunction]="searchStation"
    [debounceTimeMs]="debounceTime"
    [default]="stopoverAsResult(secondStopover)"
    (valueChange)="secondStopoverStationSelected($event)"
    hideErrors
    required
    mustUseSuggestion
    selectAllOnFocus/>
  <stopover-length-of-stay [(totalMinutes)]="secondStopover.stayTotalMinutes" *ngIf="showSecondStopoverInput"/>
  <segment-options
    *ngIf="showSecondStopoverInput"
    [withButton]="false"
    [(allowedMeansOfTransport)]="thirdSectionAllowedMeansOfTransport"/>
  <autocomplete-input-text
    icon="filled_flag"
    i18n-label="@@destination"
    label="Destination"
    [autocompleteFunction]="searchStation"
    [debounceTimeMs]="debounceTime"
    (valueChange)="destinationStationSelected($event)"
    hideErrors
    required
    mustUseSuggestion
    selectAllOnFocus/>
</div>
