<div class="route-options">
  <autocomplete-input-text
    icon="trip_origin"
    i18n-label="@@origin"
    label="Origin"
    [autocompleteFunction]="searchStation"
    [debounceTimeMs]="debounceTime"
    (valueChange)="originStationSelected($event)"
    hideErrors
    required
    mustUseSuggestion
    selectAllOnFocus/>
  <segment-options
    (addClick)="addFirstStopover()"
    [withButton]="allowAddingStopover"
    [(allowedMeansOfTransport)]="_routeOptions.meansOfTransportFirstSection"/>
  <autocomplete-input-text
    *ngIf="_routeOptions.firstStopover != undefined"
    icon="filled_location_on"
    buttonIcon="filled_cancel"
    (buttonClick)="removeFirstStopover()"
    i18n-label="@@stopover"
    label="Stopover"
    [autocompleteFunction]="searchStation"
    [debounceTimeMs]="debounceTime"
    [default]="stopoverAsResult(_routeOptions.firstStopover)"
    (valueChange)="firstStopoverStationSelected($event)"
    hideErrors
    required
    mustUseSuggestion
    selectAllOnFocus/>
  <stopover-length-of-stay
    *ngIf="_routeOptions.firstStopover != undefined"
    [(totalMinutes)]="_routeOptions.firstStopover.lengthOfStay"/>
  <segment-options
    *ngIf="_routeOptions.firstStopover != undefined"
    (addClick)="addSecondStopover()"
    [withButton]="allowAddingStopover"
    [(allowedMeansOfTransport)]="_routeOptions.firstStopover.meansOfTransportNextSection"/>
  <autocomplete-input-text
    *ngIf="_routeOptions.secondStopover != undefined"
    icon="filled_location_on"
    buttonIcon="filled_cancel"
    (buttonClick)="removeSecondStopover()"
    i18n-label="@@stopover"
    label="Stopover"
    [autocompleteFunction]="searchStation"
    [debounceTimeMs]="debounceTime"
    [default]="stopoverAsResult(_routeOptions.secondStopover)"
    (valueChange)="secondStopoverStationSelected($event)"
    hideErrors
    required
    mustUseSuggestion
    selectAllOnFocus/>
  <stopover-length-of-stay
    *ngIf="_routeOptions.secondStopover != undefined"
    [(totalMinutes)]="_routeOptions.secondStopover.lengthOfStay"/>
  <segment-options
    *ngIf="_routeOptions.secondStopover != undefined"
    [withButton]="false"
    [(allowedMeansOfTransport)]="_routeOptions.secondStopover.meansOfTransportNextSection"/>
  <autocomplete-input-text
    icon="filled_flag"
    i18n-label="@@destination"
    label="Destination"
    [autocompleteFunction]="searchStation"
    [debounceTimeMs]="debounceTime"
    (valueChange)="destinationStationSelected($event)"
    hideErrors
    required
    mustUseSuggestion
    selectAllOnFocus/>
  <div class="options">
    <input-number
      icon="airline_stops"
      i18n-label="@@transfers"
      label="Transfers"
      i18n-prefix="@@maximum_short"
      prefix="max."
      [minValue]="0"
      [value]="_routeOptions.maxTransfers"
      [maxValue]="10"
      selectAllOnFocus
      required/>
    <input-number
      icon="hourglass"
      i18n-label="@@transfer_time"
      label="Transfers time"
      i18n-prefix="@@minimum_short"
      prefix="min."
      [minValue]="0"
      [value]="_routeOptions.minTransferTime"
      [maxValue]="43"
      i18n-suffix="@@minutes_short"
      suffix="min"
      selectAllOnFocus
      required/>
  </div>
</div>
