<div class="route-options">
  <autocomplete-input-text
    icon="trip_origin"
    i18n-label="@@origin"
    label="Origin"
    [default]="stationAsAutoComplete(_routeOptions.originStation)"
    [autocompleteFunction]="searchStation"
    [debounceTimeMs]="debounceTime"
    (valueChange)="originStationSelected($event)"
    hideErrors
    required
    mustUseSuggestion
    selectAllOnFocus/>
  <segment-options
    (addClick)="addFirstStopover()"
    [withButton]="allowAddingStopover"
    [(allowedMeansOfTransport)]="_routeOptions.meansOfTransportFirstSection"
    (allowedMeansOfTransportChange)="optionsUpdated()"/>
  @if (_routeOptions.firstStopover != undefined) {
    <autocomplete-input-text
      icon="filled_location_on"
      buttonIcon="filled_cancel"
      (buttonClick)="removeFirstStopover()"
      i18n-label="@@stopover"
      label="Stopover"
      [autocompleteFunction]="searchStation"
      [debounceTimeMs]="debounceTime"
      [default]="stationAsAutoComplete(_routeOptions.firstStopover.station)"
      (valueChange)="firstStopoverStationSelected($event)"
      hideErrors
      required
      mustUseSuggestion
      selectAllOnFocus/>
  }
  @if (_routeOptions.firstStopover != undefined) {
    <stopover-length-of-stay
      [(totalMinutes)]="_routeOptions.firstStopover.lengthOfStay"
      (totalMinutesChange)="optionsUpdated()"/>
  }
  @if (_routeOptions.firstStopover != undefined) {
    <segment-options
      (addClick)="addSecondStopover()"
      [withButton]="allowAddingStopover"
      [(allowedMeansOfTransport)]="_routeOptions.firstStopover.meansOfTransportNextSection"
      (allowedMeansOfTransportChange)="optionsUpdated()"/>
  }
  @if (_routeOptions.secondStopover != undefined) {
    <autocomplete-input-text
      icon="filled_location_on"
      buttonIcon="filled_cancel"
      (buttonClick)="removeSecondStopover()"
      i18n-label="@@stopover"
      label="Stopover"
      [autocompleteFunction]="searchStation"
      [debounceTimeMs]="debounceTime"
      [default]="stationAsAutoComplete(_routeOptions.secondStopover.station)"
      (valueChange)="secondStopoverStationSelected($event)"
      hideErrors
      required
      mustUseSuggestion
      selectAllOnFocus/>
  }
  @if (_routeOptions.secondStopover != undefined) {
    <stopover-length-of-stay
      [(totalMinutes)]="_routeOptions.secondStopover.lengthOfStay"
      (totalMinutesChange)="optionsUpdated()"/>
  }
  @if (_routeOptions.secondStopover != undefined) {
    <segment-options
      [withButton]="false"
      [(allowedMeansOfTransport)]="_routeOptions.secondStopover.meansOfTransportNextSection"
      (allowedMeansOfTransportChange)="optionsUpdated()"/>
  }
  <autocomplete-input-text
    icon="filled_flag"
    i18n-label="@@destination"
    label="Destination"
    [autocompleteFunction]="searchStation"
    [default]="stationAsAutoComplete(_routeOptions.destinationStation)"
    [debounceTimeMs]="debounceTime"
    (valueChange)="destinationStationSelected($event)"
    hideErrors
    required
    mustUseSuggestion
    selectAllOnFocus/>
  <div class="options">
    <input-number
      icon="airline_stops"
      i18n-label="@@transfers"
      label="Transfers"
      i18n-prefix="@@maximum_short"
      prefix="max."
      [minValue]="0"
      [errorTranslations]="Errors.transfers"
      [value]="_routeOptions.maxTransfers!"
      (valueChange)="maxTransfersChanged($event)"
      [maxValue]="10"
      selectAllOnFocus
      required/>
    <input-number
      icon="hourglass"
      i18n-label="@@transfer_time"
      label="Transfers time"
      i18n-prefix="@@minimum_short"
      prefix="min."
      [minValue]="0"
      [errorTranslations]="Errors.transferTime"
      [value]="_routeOptions.minTransferTime!"
      (valueChange)="minTransferTimeChanged($event)"
      [maxValue]="43"
      i18n-suffix="@@minutes_short"
      suffix="min"
      selectAllOnFocus
      required/>
  </div>
</div>
