.container {
  display: flex;
  flex-direction: row;
}

.route {
  flex: 1;
}

.infos {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.5rem;
}

.stop {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
}

.timeline {
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0.5rem 0;
}

.progress {
  position: relative;
  width: 24px;
  display: flex;
  align-items: center;
}

.time-important {
  font: var(--mat-sys-title-large);
}

.progress > .mat-icon {
  z-index: 2;
  color: #555;
}

.expand {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mat-sys-primary);
}

.stop-dot {
  margin-left: calc(12px - 0.5rem);
  width: 1rem;
  height: 1rem;
  background-color: #555;
  border-radius: 50%;
  z-index: 2;
}

.line {
  position: absolute;
  height: 100%;
  border-left-width: 4px;
  border-left-style: solid;
  left: 50%;
  transform: translateX(-50%);
}

.top {
  height: calc(50% - 8px);
  top: 0;
}

.top-half {
  height: 50%;
  top: 0;
}

.bottom {
  height: calc(50% - 8px);
  top: calc(50% + 8px);
}

.bottom-half {
  height: 50%;
  top: 50%;
}


.stop-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0;
}

.platform-infos {
  font: var(--mat-sys-body-medium);
}

.stop-important {
  font: var(--mat-sys-title-large);
}

.stop-cancelled {
  text-decoration: line-through;
  color: var(--mat-sys-error);
}

.stop-additional {
  color: var(--ok-color);
}

.platform-important {
  font: var(--mat-sys-title-medium)
}

.low {
  border-left-color: var(--ok-color);
}

.medium{
  border-left-color: var(--warn-color);
}

.unknown {
  border-left-color: #555;
}

.high {
  border-left-color: var(--mat-sys-error);
}

.section-infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.section-line {
  padding: 0.25rem;
  border: 1px solid var(--mat-sys-outline-variant);
  background-color: var(--mat-sys-surface-container-high);
  border-radius: 0.25rem;
}

.information {
  display: flex;
  gap: 10px;
  align-items: center;
}

.information-ok {
  color: var(--ok-color);
}

.information-warn{
  color: var(--warn-color);
}

.information-unknown {
  color: var(--mat-sys-on-surface-variant);
}

.warn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--mat-sys-error);
}
