@if(editMode){
  <h2 mat-dialog-title i18n>Edit passenger</h2>
}@else{
  <h2 mat-dialog-title i18n>Add passenger</h2>
}
<mat-dialog-content>
  <form [formGroup]="passengerForm">
    <mat-form-field subscriptSizing="dynamic" style="width: 100%;">
      <mat-label i18n>Name</mat-label>
      <input matInput [matAutocomplete]="name" type="text" formControlName="name"/>
      <mat-autocomplete #name="matAutocomplete">
        @for(passenger of filteredPassengers | async; track passenger.id){
          <mat-option [value]="passenger.name" (click)="passengerSelected(passenger)">{{passenger.name}}</mat-option>
        }
      </mat-autocomplete>
      <mat-icon matPrefix>account_circle</mat-icon>
    </mat-form-field>
    <div class="age-selection">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label i18n>Birthday</mat-label>
        <input matInput readonly [matDatepicker]="picker" formControlName="birthday"/>
        <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year"></mat-datepicker>
      </mat-form-field>
      <span class="divider">/</span>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label i18n>Age</mat-label>
        <mat-select formControlName="age">
          @for(i of ageArray(); track i){
            <mat-option [value]="i">{{i}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <mat-error style="text-align: justify;">
        <span i18n>The birthday of the passenger must be set. If you don't know the birthday, set the age of the passenger manually.
        </span>
    </mat-error>
    <h1 i18n>Discounts</h1>
    <mat-chip-set>
      @for(discount of discounts(); track discount){
        <span i18n #classTooltip hidden>{discount.class, select, First {1st class} Second {2nd class}}</span>
        <mat-chip
          (removed)="removeDiscount(discount)"
          [class]="discount.class"
          [matTooltip]="classTooltip.textContent"
          matTooltipPosition="above">
          {{ discount.type }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      }
      <mat-menu #discountMenu="matMenu">
        @for(discount of availableDiscounts; track discount){
          <button mat-menu-item (click)="addDiscount(discount)">
            {{discount.type}}
            <span i18n>
              {discount.class, select, First {1st class} Second {2nd class}}
            </span>
          </button>
        }
      </mat-menu>
    </mat-chip-set>
    <button mat-mini-fab [disabled]="availableDiscounts.length == 0" [matMenuTriggerFor]="discountMenu">
      <mat-icon>add</mat-icon>
    </button>
    <h1 i18n>Options</h1>
    <div class="options">
      <div class="options-left">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label i18n>Number of bikes</mat-label>
          <mat-select  formControlName="bikes">
            @for(i of getArray(); track i){
              <mat-option [value]="i">{{i}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label i18n>Number of dogs</mat-label>
          <mat-select formControlName="dogs">
            @for(i of getArray(); track i){
              <mat-option [value]="i">{{i}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="options-right">
        <mat-checkbox formControlName="withSeat" i18n>
          seat
        </mat-checkbox>
        <mat-checkbox formControlName="withBuggy" i18n>
          buggy
        </mat-checkbox>
        <mat-checkbox formControlName="needsAccessibility" i18n>
          needs accessibility
        </mat-checkbox>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close i18n>Cancel</button>
  @if(editMode){
    <button mat-button i18n (click)="removePassenger()">Remove</button>
    <button mat-button i18n [disabled]="!passengerForm.valid" (click)="submit()">Apply</button>
  }@else{
    <button mat-button i18n [disabled]="!passengerForm.valid" (click)="submit()">Add</button>
  }
</mat-dialog-actions>
