form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font: var(--mat-sys-title-large);
}

mat-form-field {
  margin-bottom: 1rem;
}

.First {
  color-scheme: light;
  background: var(--first-class-background)
!important;
}


.Second {
  color-scheme: light;
  background: var(--second-class-background) !important;
}

.age-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.divider {
  font-size: 56px;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.options {
  display: flex;
  flex-direction: row;
}

.options-left {
  display: flex;
  flex-direction: column;
}

.options-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
