.component {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: relative;
  flex: 0 0 26rem;
  background: var(--mat-sys-surface-container-high);
  overflow: hidden;
}

.controls-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--mat-sys-title-large);
}

.controls-header > button {
  color: var(--mat-sys-on-surface-variant);
  background: var(--mat-sys-surface-variant);
}

.content {
  position: absolute;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.expand {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--mat-sys-surface-container-high);
}

.expand:hover {
  background: var(--mat-sys-surface-variant);
  box-shadow: var(--mat-sys-level3);
}

.controls {
  right: 0;
  width: 26rem;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.sidebar-control {
  cursor: pointer;
  width: 2rem;
  background: var(--mat-sys-surface-container-high);
}

.search-infos {
  display: flex;
}

.connections {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0 1rem;
  overflow-y: auto;
}

.pagination {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date {
  font: var(--mat-sys-headline-medium);
}

.search {
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  width: 25rem;
}

.search-infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-entry {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.info-text {
  font: var(--mat-sys-body-large);
}

.info-headline {
  font: var(--mat-sys-headline-large);
}

.number {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  border-radius: 50%;
  font: var(--mat-sys-body-large);
  text-align: center;
  width: 24px;
  height: 24px;
}
