.sidebar {
  height: 100vh;
  width: 25rem;
  background: var(--mat-sys-surface-container-high);
  overflow-y: auto;
  position: relative;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.mat-expansion-panel {
  background: transparent;
  box-shadow: none !important;
  border-radius: 0;
}

.mat-expansion-panel-header {
  font-size: var(--mat-sys-title-medium-size);
  font-weight: var(--mat-sys-title-medium-weight);
  line-height: var(--mat-sys-title-medium-line-height);
  letter-spacing: var(--mat-sys-title-medium-tracking);
}

.mat-expansion-panel-header.mat-expanded {
  height: var(--mat-expansion-header-collapsed-state-height, 48px);
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-accordion .mat-expansion-panel {
  border-radius: 0;
}

.warn {
  color: var(--mat-sys-error);
}

.search {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--mat-sys-surface-container-high) 20%);
}
