.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 20rem;
}

mat-card-header {
  justify-content: center;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

mat-checkbox, mat-form-field {
  margin-bottom: 1rem;
}

a {
  margin-left: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
