<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title i18n>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label i18n>Email</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label i18n>Password</mat-label>
          <input matInput type="password" formControlName="password"/>
        </mat-form-field>

        @if(loginForm.hasError("invalidCredentials")){
          <mat-error i18n>Invalid login credentials</mat-error>
        }

        <button mat-raised-button type="submit" [disabled]="!loginForm.valid" i18n>
          Login
        </button>
      </form>
      <p>
        <span i18n>Don't have an account?</span>
        <a href="register" i18n>Register now</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
