<div class="connection-card">
  <div class="connection-header">
    <div class="overview">
      <div class="title">
        <span class="time">{{startTime | date: 'HH:mm'}} - {{endTime | date: 'HH:mm'}}</span>
        <span class="overview-text">
          <div>
            <span *ngIf="duration.hours > 0">{{duration.hours}}h</span>
            <span> {{duration.minutes}}min</span>
          </div>
        </span>
        <div class="updated">
          <mat-icon *ngIf="connection.transferTimeChanged">more_time</mat-icon>
          <span *ngIf="connection.transferTimeChanged" i18n> Transfer time increased</span>
        </div>
        <span class="overview-text">{transfers, plural, =0 {direct connection} =1 {1 transfer} other {{{transfers}} transfers}} </span>
        @if(connection.bike){
          @if(connection.bike == 'Yes'){
            <span #bikeTooltip hidden i18n>Bike transport possible</span>
            <mat-icon class="information-ok" [matTooltip]="bikeTooltip.textContent" matTooltipPosition="above">directions_bike</mat-icon>
          } @else if (connection.bike == 'No'){
            <span #bikeTooltip hidden i18n>Bike transport not possible</span>
            <mat-icon class="warn" [matTooltip]="bikeTooltip.textContent" matTooltipPosition="above">directions_bike</mat-icon>
          } @else if(connection.bike == 'Unknown'){
            <span #bikeTooltip hidden i18n>No information about bike transport</span>
            <mat-icon class="information-unknown" [matTooltip]="bikeTooltip.textContent" matTooltipPosition="above">directions_bike</mat-icon>
          }
        }
        <app-demand [showClass]="requestedClass" [demand]="connection.demand"/>
      </div>
      <div class="route-overview">
        @for(section of connection.sections; track section; let i = $index){
          <div class="section" [style.max-width]="section.percentage + '%'">
            <div class="section-content">
              <span class="section-title" *ngIf="section.percentage < 6">{{section.lineNameShort}}</span>
              <span class="section-title" *ngIf="section.percentage >= 6">{{section.lineNameMedium}}</span>
              <div class="section-infos">
                @if(section.catering == 'None'){
                  <span #cateringTooltip hidden i18n>Catering service not available</span>
                  <mat-icon class="warn" [matTooltip]="cateringTooltip.textContent" matTooltipPosition="above">restaurant</mat-icon>
                } @else if(section.catering == 'Snack'){
                  <span #cateringTooltip hidden i18n>Snackpoint available</span>
                  <mat-icon class="information-ok" [matTooltip]="cateringTooltip.textContent" matTooltipPosition="above">restaurant</mat-icon>
                } @else if(section.catering == 'PartialSnack'){
                  <span #cateringTooltip hidden i18n>Snackpoint only partial available</span>
                  <mat-icon class="information-warn" [matTooltip]="cateringTooltip.textContent" matTooltipPosition="above">restaurant</mat-icon>
                } @else if(section.catering == 'SnackService'){
                  <span #cateringTooltip hidden i18n>Snack service available</span>
                  <mat-icon class="information-ok" [matTooltip]="cateringTooltip.textContent" matTooltipPosition="above">restaurant</mat-icon>
                }@else if(section.catering == 'Bistro'){
                  <span #cateringTooltip hidden i18n>Bistro available</span>
                  <mat-icon class="information-ok" [matTooltip]="cateringTooltip.textContent" matTooltipPosition="above">restaurant</mat-icon>
                }@else if(section.catering == 'Restaurant'){
                  <span #cateringTooltip hidden i18n>Restaurant available</span>
                  <mat-icon class="information-ok" [matTooltip]="cateringTooltip.textContent" matTooltipPosition="above">restaurant</mat-icon>
                } @else if(section.catering == 'PartialRestaurant'){
                  <span #cateringTooltip hidden i18n>Restaurant only partial available</span>
                  <mat-icon class="information-warn" [matTooltip]="cateringTooltip.textContent" matTooltipPosition="above">restaurant</mat-icon>
                }
                @if(showBikeInfo){
                  @if(section.bike == 'No'){
                    <span #bikeTooltip hidden i18n>Bike transport not possible</span>
                    <mat-icon class="warn" [matTooltip]="bikeTooltip.textContent" matTooltipPosition="above">directions_bike</mat-icon>
                  } @else if (section.bike == 'ReservationRequired'){
                    <span #bikeTooltip hidden i18n>Reservation required for bike transport</span>
                    <mat-icon class="information-ok" [matTooltip]="bikeTooltip.textContent" matTooltipPosition="above">directions_bike</mat-icon>
                  } @else if(section.bike == 'Limited'){
                    <span #bikeTooltip hidden i18n>Number of bicycles limited</span>
                    <mat-icon class="information-unknown" [matTooltip]="bikeTooltip.textContent" matTooltipPosition="above">directions_bike</mat-icon>
                  } @else {
                    <span #bikeTooltip hidden i18n>No information about bike transport</span>
                    <mat-icon class="information-unknown" [matTooltip]="bikeTooltip.textContent" matTooltipPosition="above">directions_bike</mat-icon>
                  }
                }

                @if(showAccessibilityInfo){
                  @if(section.accessibility == 'None'){
                    <span #accessibleTooltip hidden i18n>Not accessible</span>
                    <mat-icon class="warn" [matTooltip]="accessibleTooltip.textContent" matTooltipPosition="above">accessible</mat-icon>
                  } @else if (section.accessibility == 'PartialAccessible'){
                    <span #accessibleTooltip hidden i18n>Partly accessible</span>
                    <mat-icon class="information-warn" [matTooltip]="accessibleTooltip.textContent" matTooltipPosition="above">accessible</mat-icon>
                  } @else if(section.accessibility == 'Accessible'){
                    <span #accessibleTooltip hidden i18n>Accessible</span>
                    <mat-icon class="information-ok" [matTooltip]="accessibleTooltip.textContent" matTooltipPosition="above">accessible</mat-icon>
                  } @else {
                    <span #accessibleTooltip hidden i18n>No accessibility information</span>
                    <mat-icon class="information-warn" [matTooltip]="accessibleTooltip.textContent" matTooltipPosition="above">accessible</mat-icon>
                  }
                }

                <app-demand [showClass]="requestedClass" [demand]="section.demand"/>

                @if(section.reservationRequired){
                  <span #reservationTooltip hidden i18n>Reservation required</span>
                  <mat-icon [matTooltip]="reservationTooltip.textContent" matTooltipPosition="above">book_online</mat-icon>
                }

                @if(getSectionInfos(i).length == 1){
                  <mat-icon class="warn" [matTooltip]="getSectionInfos(i)[0].text" matTooltipPosition="above">warning</mat-icon>
                }@else if(getSectionInfos(i).length > 1){
                  <span #notificationsTooltip hidden i18n>There are multiple problems on this section. Open details for more information.</span>
                  <mat-icon class="warn" [matTooltip]="notificationsTooltip.textContent" matTooltipPosition="above">warning</mat-icon>
                }
              </div>
            </div>
          </div>
        }
      </div>
      <div class="notifications">
        @for(notification of getConnectionInfos(); track notification){
          <div class="warn">
            <mat-icon>warning</mat-icon>
            <span>{{notification.text}}</span>
          </div>
        }
      </div>
      <div class="expand" (click)="togglePanel()">
        <span i18n> Details </span>
        @if(expanded){
          <mat-icon>keyboard_arrow_up</mat-icon>
        }@else{
          <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </div>
    </div>
    <div class="route-controls">
      <div class="controls">
        <mat-icon class="clickable-icon">share</mat-icon>
        <mat-icon class="clickable-icon">bookmark</mat-icon>
      </div>
      <div class="price">
        @if(connection.price && !connection.price.sectionPrice){
          <span i18n>from </span>
          <span class="price-text">{{connection.price.value | currency: connection.price.currency}}</span>
        }@else if(connection.price && connection.price.sectionPrice){
          <span i18n>No information</span>
        } @else{
          <span i18n>Booking not possible</span>
        }
      </div>
      <button mat-flat-button [disabled]="!connection.price" (click)="openBahnBooking()" i18n>
        Continue on bahn.de
      </button>
    </div>
  </div>
  @if(expanded){
    <div class="connection-content">
      @for(section of connection.sections; track section; let sectionIndex = $index){
        @if(sectionIndex > 0){
          <div class="transfer">
            <div class="transfer-timeline">
              <div>
                <span *ngIf="getTransferTime(connection.sections[sectionIndex - 1], connection.sections[sectionIndex]).hours > 0">{{getTransferTime(connection.sections[sectionIndex - 1], connection.sections[sectionIndex]).hours}}h </span>
                <span> {{getTransferTime(connection.sections[sectionIndex - 1], connection.sections[sectionIndex]).minutes}}min</span>
              </div>
            </div>
            <div class="transfer-progress">
              <span #transfer_tooltip i18n hidden>Transfer</span>
              <mat-icon [matTooltip]="transfer_tooltip.textContent" matTooltipPosition="above">transfer_within_a_station</mat-icon>
            </div>
            <div class="transfer-content">
              <button mat-stroked-button [disabled]="loadingTransferTimeChange" (click)="earlierArrival(sectionIndex - 1)">
                <mat-spinner [diameter]="24" *ngIf="loadingTransferTimeChange"/>
                <span i18n>Earlier arrival</span>
              </button>
              <button mat-stroked-button [disabled]="loadingTransferTimeChange" (click)="laterDeparture(sectionIndex - 1)">
                <mat-spinner [diameter]="24" *ngIf="loadingTransferTimeChange"/>
                <span *ngIf="!loadingTransferTimeChange" i18n>Later departure</span>
              </button>
            </div>
          </div>
        }
        @if(connection.sections.length == 1){
          <app-section-details [section]="section" [requestedClass]="requestedClass" type="Single"/>
        }@else if(sectionIndex == 0){
          <app-section-details [section]="section" [requestedClass]="requestedClass" type="First"/>
        }@else if(sectionIndex == connection.sections.length - 1){
          <app-section-details [section]="section" [requestedClass]="requestedClass" type="End"/>
        }@else {
          <app-section-details [section]="section" [requestedClass]="requestedClass" type="Middle"/>
        }

      }
    </div>
  }
</div>
