:root {
  color-scheme: light dark;

  --background: light-dark(#f8faef, #11140e);
  --error: light-dark(#ba1a1a, #ffb4ab);
  --error-container: light-dark(#ffdad6, #93000a);
  --inverse-on-surface: light-dark(#f0f2e7, #2e312a);
  --inverse-primary: light-dark(#acd28f, #466730);
  --inverse-surface: light-dark(#2e312a, #e1e4d9);
  --on-background: light-dark(#191d16, #e1e4d9);
  --on-error: light-dark(#ffffff, #690005);
  --on-error-container: light-dark(#410002, #ffdad6);
  --on-primary: light-dark(#ffffff, #1a3705);
  --on-primary-container: light-dark(#0a2100, #c7eea9);
  --on-primary-fixed: light-dark(#0a2100, #0a2100);
  --on-primary-fixed-variant: light-dark(#2f4f1a, #2f4f1a);
  --on-secondary: light-dark(#ffffff, #1a3704);
  --on-secondary-container: light-dark(#0b2000, #c7eea8);
  --on-secondary-fixed: light-dark(#0b2000, #0b2000);
  --on-secondary-fixed-variant: light-dark(#304f19, #304f19);
  --on-surface: light-dark(#191d16, #e1e4d9);
  --on-surface-variant: light-dark(#43483d, #e0e4d5);
  --on-tertiary: light-dark(#ffffff, #1a3705);
  --on-tertiary-container: light-dark(#0a2100, #c7eea9);
  --on-tertiary-fixed: light-dark(#0a2100, #0a2100);
  --on-tertiary-fixed-variant: light-dark(#2f4f1a, #2f4f1a);
  --outline: light-dark(#74796c, #8d9385);
  --outline-variant: light-dark(#c3c8ba, #43483d);
  --primary: light-dark(#466730, #acd28f);
  --primary-container: light-dark(#c7eea9, #2f4f1a);
  --primary-fixed: light-dark(#c7eea9, #c7eea9);
  --primary-fixed-dim: light-dark(#acd28f, #acd28f);
  --scrim: light-dark(#000000, #000000);
  --secondary: light-dark(#46672f, #acd28e);
  --secondary-container: light-dark(#c7eea8, #304f19);
  --secondary-fixed: light-dark(#c7eea8, #c7eea8);
  --secondary-fixed-dim: light-dark(#acd28e, #acd28e);
  --shadow: light-dark(#000000, #000000);
  --surface: light-dark(#f8faef, #11140e);
  --surface-bright: light-dark(#f8faef, #373a33);
  --surface-container: light-dark(#edefe4, #1d211a);
  --surface-container-high: light-dark(#e7e9de, #282b24);
  --surface-container-highest: light-dark(#e1e4d9, #373a33);
  --surface-container-low: light-dark(#f3f5ea, #191d16);
  --surface-container-lowest: light-dark(#ffffff, #0c0f09);
  --surface-dim: light-dark(#d9dbd0, #11140e);
  --surface-tint: light-dark(#466730, #acd28f);
  --surface-variant: light-dark(#e0e4d5, #43483d);
  --tertiary: light-dark(#466730, #acd28f);
  --tertiary-container: light-dark(#c7eea9, #2f4f1a);
  --tertiary-fixed: light-dark(#c7eea9, #c7eea9);
  --tertiary-fixed-dim: light-dark(#acd28f, #acd28f);
  --neutral-variant20: #2d3228;
  --neutral10: #191d16;

  --body-large: 400 1rem / 1.5rem Roboto;
  --body-large-font: Roboto;
  --body-large-line-height: 1.5rem;
  --body-large-size: 1rem;
  --body-large-tracking: .031rem;
  --body-large-weight: 400;
  --body-medium: 400 .875rem / 1.25rem Roboto;
  --body-medium-font: Roboto;
  --body-medium-line-height: 1.25rem;
  --body-medium-size: .875rem;
  --body-medium-tracking: .016rem;
  --body-medium-weight: 400;
  --body-small: 400 .75rem / 1rem Roboto;
  --body-small-font: Roboto;
  --body-small-line-height: 1rem;
  --body-small-size: .75rem;
  --body-small-tracking: .025rem;
  --body-small-weight: 400;
  --display-large: 400 3.562rem / 4rem Roboto;
  --display-large-font: Roboto;
  --display-large-line-height: 4rem;
  --display-large-size: 3.562rem;
  --display-large-tracking: -.016rem;
  --display-large-weight: 400;
  --display-medium: 400 2.812rem / 3.25rem Roboto;
  --display-medium-font: Roboto;
  --display-medium-line-height: 3.25rem;
  --display-medium-size: 2.812rem;
  --display-medium-tracking: 0;
  --display-medium-weight: 400;
  --display-small: 400 2.25rem / 2.75rem Roboto;
  --display-small-font: Roboto;
  --display-small-line-height: 2.75rem;
  --display-small-size: 2.25rem;
  --display-small-tracking: 0;
  --display-small-weight: 400;
  --headline-large: 400 2rem / 2.5rem Roboto;
  --headline-large-font: Roboto;
  --headline-large-line-height: 2.5rem;
  --headline-large-size: 2rem;
  --headline-large-tracking: 0;
  --headline-large-weight: 400;
  --headline-medium: 400 1.75rem / 2.25rem Roboto;
  --headline-medium-font: Roboto;
  --headline-medium-line-height: 2.25rem;
  --headline-medium-size: 1.75rem;
  --headline-medium-tracking: 0;
  --headline-medium-weight: 400;
  --headline-small: 400 1.5rem / 2rem Roboto;
  --headline-small-font: Roboto;
  --headline-small-line-height: 2rem;
  --headline-small-size: 1.5rem;
  --headline-small-tracking: 0;
  --headline-small-weight: 400;
  --label-large: 500 .875rem / 1.25rem Roboto;
  --label-large-font: Roboto;
  --label-large-line-height: 1.25rem;
  --label-large-size: .875rem;
  --label-large-tracking: .006rem;
  --label-large-weight: 500;
  --label-large-weight-prominent: 700;
  --label-medium: 500 .75rem / 1rem Roboto;
  --label-medium-font: Roboto;
  --label-medium-line-height: 1rem;
  --label-medium-size: .75rem;
  --label-medium-tracking: .031rem;
  --label-medium-weight: 500;
  --label-medium-weight-prominent: 700;
  --label-small: 500 .688rem / 1rem Roboto;
  --label-small-font: Roboto;
  --label-small-line-height: 1rem;
  --label-small-size: .688rem;
  --label-small-tracking: .031rem;
  --label-small-weight: 500;
  --title-large: 400 1.375rem / 1.75rem Roboto;
  --title-large-font: Roboto;
  --title-large-line-height: 1.75rem;
  --title-large-size: 1.375rem;
  --title-large-tracking: 0;
  --title-large-weight: 400;
  --title-medium: 500 1rem / 1.5rem Roboto;
  --title-medium-font: Roboto;
  --title-medium-line-height: 1.5rem;
  --title-medium-size: 1rem;
  --title-medium-tracking: .009rem;
  --title-medium-weight: 500;
  --title-small: 500 .875rem / 1.25rem Roboto;
  --title-small-font: Roboto;
  --title-small-line-height: 1.25rem;
  --title-small-size: .875rem;
  --title-small-tracking: .006rem;
  --title-small-weight: 500;

  -webkit-tap-highlight-color: transparent;

  --text-gap: 4px;

  --radius-round: 16px;
  --radius-medium: 8px;
  --radius-small: 4px;
}

body {
  margin: 0;
  background-color: var(--background);
}
