div {
  border-radius: 50%;
  border: 8px solid var(--surface-variant);
  border-top: 8px solid var(--primary);
  width: 32px;
  height: 32px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
