<div class="autocomplete-input-text"
(focusout)="close($event)">
  <input-text class="input" #input
              [icon]="icon()"
              [buttonIcon]="buttonIcon()"
              (buttonClick)="buttonClick.emit()"
              [label]="label()"
              [hint]="hint()"
              [validators]="validators()"
              [required]="required()"
              [errorTranslations]="errorTranslations()"
              [hideErrors]="hideErrors()"
              [selectAllOnFocus]="selectAllOnFocus()"
              [value]="value"
              (valueChange)="onValueChange($event)"/>
  <div class="suggestions" [class.opened]="suggestions.length > 0">
    @for(suggestion of suggestions; track suggestion.id){
      <option (click)="select(suggestion.id)">{{suggestion.value}}</option>
    }
  </div>
</div>
